* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 12px;
    font-family: 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

#mobileNav {
    display: none;
}

#headBanner {
    position: relative;
    width: 100%;
    height: 5%;
}

#searchBox {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    z-index: 90;
    font-size: 2rem;
}

#search {
    width: 30vw;
    height: 5.5vh;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1); 
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: inset 0px 0px 10px rgba(45, 45, 45, 0.2);
}

nav li {
    color: #fdfcfc;
    padding-bottom: 5px;
    padding-right:20px;
    padding-left:20px;
    list-style: none;
    text-decoration: none;
    background-color: #4C32FF;
    border-radius: 5px;
}

#logo {
width: 80px;
height: auto;
}

#navContainer {
    background-color: #4C32FF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    position: fixed;
    width: 100vw;
    height: 8%;
    z-index: 1000;
border-bottom-left-radius: 50px;
backdrop-filter: blur(10px);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

#navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

#navMenu ul li {
    color: inherit;
}

button {
    background-color: #52D891;
    color: black;
    font-size: 1rem;
    z-index: 1000;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
    backdrop-filter: blur(10px);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}



main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#textOfMainCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

#mainSection {
    background-color: #fdfcfc;
    width: 70vw;
}

#mainCard {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
flex-wrap: nowrap;
width: 65vw;
border-radius: 10px;
margin-left: 20px;
margin-right: 20px;
margin-top: 30px;
padding: 20px;
border-top-left-radius: 50px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
cursor: pointer;
}

#mainCard h1,
#mainCard p {
    padding: 20px;
    text-align: left;
    color: black;
}


#section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.smallCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.8rem;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-top: 30px;
}

.smallCard h1,
.smallCard p {
    padding: 10px;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.smallCard img {
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding: 0
    ;
}

img {
  width: 30%;
  border-radius: 5px;
}

aside {
    background-color: #f0f0f0;
border: 1px solid #f0f0f0;
border-top-left-radius: 50px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column; /* Use "row" to align elements horizontally */
    justify-content: space-between; /* Adjust this based on your design */
    align-items: center;
    width: 30vw;
    height: 184vh;
    overflow-y: hidden;
}

aside .asideButton {
    width: 20%;
    padding: 10px;
    margin: 10px;
    font-size: 0.7rem;
    z-index: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: #f0f0f0;

}

aside h1 {
    text-align: center;
}

#tagContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}

footer {
    background-color: #52D891;
    margin-top: 0 auto;
    border-radius: 20px;
    max-width: 100vw;
}

#mainSection {
        display: flex;
        flex-direction: row; /* Use "row" to align elements horizontally */
        justify-content: center;
        align-items: center;
}

@media only screen and (max-width:1024px) and (min-width:768px){
    html,
    body {
        font-size: 16px;
    }

#mobileNav {
    display: none;
}

}

@media only screen and (min-width:1025px)  {
    html,
    body {
        font-size: 16px;
    }

#mobileNav {
        display: none;
    }
}